<ion-content padding class="usuario-login bg">

  <div class="logo">
    <img src="img/logo.png">
  </div>

  <ion-grid>
    <form [ngFormModel]="loginForm"  #loginCreds="ngForm">
      <span *ngIf="formError.email" danger padding-left>
        {{formError.email}}
      </span><br>
      <span *ngIf="formError.senha" danger padding-left>
        {{formError.senha}}
      </span>
      <ion-row>
        <ion-col width-100>
          <ion-item>
            <ion-icon name="person" item-left></ion-icon>
            <ion-input ngControl="email" type="email" placeholder="E-mail">
            </ion-input>
          </ion-item>
          <ion-item no-lines>
            <ion-icon name="lock" item-left></ion-icon>
            <ion-input ngControl="password" type="password" placeholder="Senha">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col width-50>
          <button mdc-grey-800 (click)="criarConta(loginCreds.value, $event)" type="submit">Criar</button>
        </ion-col>
        <ion-col width-50>
          <button mdc-green (click)="login(loginCreds.value, $event)" type="submit">Login</button>
        </ion-col>
      </ion-row>
    </form>

    <ion-row>
      <ion-col width-40>
        <hr style="border-top: 1px solid white;">
      </ion-col>
      <ion-col width-20>
        <p light style="text-align:center;"><strong>OU</strong></p>
      </ion-col>
      <ion-col width-40>
        <hr style="border-top: 1px solid white;">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col width-25>
        <button twitter (click)="loginTwitter()">
          <ion-icon ios="logo-twitter" md="logo-twitter"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-25>
        <button facebook (click)="loginFacebook()">
          <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-25>
        <button danger (click)="loginGoogle()">
          <ion-icon ios="logo-google" md="logo-google"></ion-icon>
        </button>
      </ion-col>
      <ion-col width-25>
        <button github (click)="loginGithub()">
          <ion-icon ios="logo-github" md="logo-github"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<button fab light fab-bottom fab-center style="z-index: 100" (click)="pular()">
  PULAR
</button>