<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo de Transporte</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let transporte of _transporteService.list | async; let i = index" >
                    <td>
                        {{ i+1 }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span style="font-weight: bold;">{{ transporte.descricao }}</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ getDescricao(transporte.tipo_transporte) }}
                    </td>
                    <td>
                        <button md-icon-button (click)="onEdit(transporte)"><md-icon class="md-24">mode_edit</md-icon></button>
                    </td>
                    <td>
                        <button md-icon-button (click)="onRemove(transporte)"><md-icon class="md-24">delete</md-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>     
            <md-card>
                <md-card-title>{{editing ? 'Editar' : 'Cadastrar'}}</md-card-title>   
                <md-card-content>
                    <md-input 
                        type="text"
                        placeholder="Descrição" 
                        required
                        maxLength="50" 
                        [dividerColor]="descricao.valid || descricao.pristine ? 'warn':'primary'"
                        [(ngModel)]="transporte.descricao"
                        name="descricao"
                        ngModel
                        #descricao>
                        <md-hint align="end">{{descricao.characterCount}} / 50</md-hint>
                    </md-input>
                    <vaadin-combo-box 
                        label="Tipo de transporte" 
                        [items]="_tipoTransporteService.list | async" 
                        item-label-path="descricao"
                        item-value-path="$key"
                        (selected-item-changed)="transporte.tipo_transporte=$event.detail.value.$key"
                        required
                        [(ngModel)]="transporte.tipo_transporte" 
                        name="tipo_transporte" 
                        ngModel
                        ngDefaultControl
                        #tipo_transporte>
                    </vaadin-combo-box>
                </md-card-content>
                <md-card-actions align="end">
                    <button *ngIf="editing" md-raised-button (click)="onClear($event)">Cancelar</button>
                    <button type="submit" md-raised-button color="primary" [disabled]="!form.form.valid">Salvar</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>
