<ion-header>
  <ion-navbar>
    <ion-title>
      {{titulo}}
    </ion-title>
    <ion-buttons end>
      <button (click)="dismiss()">
      Fechar
    </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="sobre">

  <div class="about-header">
    <img src="img/logo.png">
  </div>
  <div padding class="about-info">
    <h4>Aplicativo do Turista</h4>
    <p>
      O aplicativo <strong>Partiu!</strong> apóia a gestão de viagens, hospedagens, deslocamentos, agendamentos e reservas
      em passeios, excursões, e outros eventos turísticos.
    </p>
    <ion-list no-lines>
      <ion-item>
        <ion-icon name="calendar" item-left></ion-icon>
        Desde 2015
      </ion-item>
      <ion-item>
        <ion-icon name="pin" item-left></ion-icon>
        São Carlos - São Paulo, Brazil
      </ion-item>
      <ion-item>
        <ion-icon name="code-working" item-left></ion-icon>
        Versão: 1.0.0-pre-alpha
      </ion-item>
      <ion-item (click)="onEntrarEmContato()">
        <ion-icon name="mail" item-left></ion-icon>
        tour.partiu@gmail.com
      </ion-item>
      <ion-item (click)="onAcessaNossaPagina()">
        <ion-icon name="open" item-left></ion-icon>
        https://www.facebook.com/tour.partiu
      </ion-item>
    </ion-list>
    <!--<button outline block small>Termo de Adesão e Compromisso</button>
    <button outline block small>Termo de Uso</button>
    <button outline block small>Termo de Politica de Privacidade</button>-->
  </div>

</ion-content>
