md-sidenav-layout {
  background: rgba(0,0,0,0.08);
}

md-sidenav {
  width: 300px;
}

.secondary-text {
  color: rgba(0, 0, 0, 0.54);
  margin: 20px 0px 20px 0px;
}

.fill-remaining {
    flex: 1 1 auto;
 }
