<ion-header>
    <ion-navbar>
        <ion-title>{{ (editing ? 'Editar' : 'Criar') + ' ' + titulo }}</ion-title>
        <ion-buttons end>
            <button (click)="onSubmit()">
            Salvar
    </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content class="cards-bg rota-create">

    <ion-card class="adv-map">
        <div style="position: relative">
            <img src="img/advance-card-map-paris.png">
            <button danger fab fab-right fab-top class="fab-map" (click)="onLoadMapa()">
                <ion-icon name='map'></ion-icon>
            </button>
        </div>
        <ion-list>
            <ion-item-divider light>Informações da Rota</ion-item-divider>
            <ion-item>
                <ion-icon name="pin" item-left></ion-icon>
                Ponto de Saída
            </ion-item>
            <ion-item>
                <input
                    type="text"
                    placeholder="Ex. RIbeirão Preto"
                    style="width:100%;"
                    [(ngModel)]="rota.ponto_partida"
                    (setAddress)="onSelectPlacePontoPartida($event)"
                    googleplace
                    #ponto_partida/>
            </ion-item>
            <ion-item>
                <ion-label dark style="font-size: 0.875em;">Data</ion-label>
                <ion-datetime
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMM YYYY"
                    cancelText="Cancelar"
                    doneText="OK"
                    [min]="now"
                    [(ngModel)]="rota.data_saida"
                    (ionChange)="onChangeDataSaida($event)"
                    #data_inicio>
                </ion-datetime>
            </ion-item>
            <ion-item>
                <ion-icon name="pin" item-left></ion-icon>
                Ponto de Chegada
            </ion-item>
            <ion-item>
                <input
                    type="text"
                    placeholder="Ex. São Carlos"
                    style="width:100%;"
                    [(ngModel)]="rota.ponto_chegada"
                    (setAddress)="onSelectPlacePontoChegada($event)"
                    googleplace
                    #ponto_chegada/>
            </ion-item>
            <ion-item>
                <ion-label dark style="font-size: 0.875em;">Data</ion-label>
                <ion-datetime
                    displayFormat="DD/MM/YYYY"
                    pickerFormat="DD MMM YYYY"
                    cancelText="Cancelar"
                    doneText="OK"
                    [min]="rota.data_saida"
                    [(ngModel)]="rota.data_chegada"
                    #data_inicio>
                </ion-datetime>
            </ion-item>
            <ion-item small>
                <ion-icon name="flag" item-left></ion-icon>
                Ponto de Interesse
                <ion-badge item-right>{{ listPontoInteresse.length > 0 ? listPontoInteresse.length : '0' }}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label dark style="font-size: 0.875em;">Selecione</ion-label>
                <ion-select
                    submitText="OK" cancelText="Cancelar"
                    [(ngModel)]="rota.ponto_interesse"
                    #ponto_interesse>
                    <ion-option *ngFor="let item of listPontoInteresse" [value]="item.$key" >
                        {{ item.descricao }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-icon name="bus" item-left></ion-icon>
                Meio de Transporte
                <ion-badge item-right>{{ listTransporte.length > 0 ? listTransporte.length : '0' }}</ion-badge>
            </ion-item>
            <ion-item>
                <ion-label dark style="font-size: 0.875em;">Selecione</ion-label>
                <ion-select
                    submitText="OK" cancelText="Cancelar"
                    [(ngModel)]="rota.transporte"
                    #transporte>
                    <ion-option *ngFor="let item of listTransporte" [value]="item.$key">
                        {{ item.descricao }}
                    </ion-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-item>
            <span secondary item-left>{{ rota.duracao || '0' }} min</span>
            <span item-left>({{ rota.distancia || '0' }} KM)</span>
            <button primary item-right (click)="onClear()">
                <ion-icon name="brush"></ion-icon>
                <div>Limpar</div>
            </button>
        </ion-item>

    </ion-card>

</ion-content>
