<app class="login">

  <header class="header">
    <md-grid-list cols="2" rowHeight="50px">
      <md-grid-tile>
        <md-icon>computer</md-icon><button md-button>Painel Administrativo</button>
      </md-grid-tile>
      <md-grid-tile>
        <md-icon>devices_other</md-icon><button md-button>Aplicativos Mobile</button>
      </md-grid-tile>
    </md-grid-list>
  </header>

  <main>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
      <md-card class="md-input-card">
        <md-toolbar color="primary">{{ _authService.title }}</md-toolbar>
        <md-card-content>
          <md-input 
              type="email" 
              placeholder="E-mail" 
              autocomplete="off" 
              required 
              #email 
              formControlName="email" 
              maxLength="100"
              [dividerColor]="(!form.find('email').valid && !form.find('email').pristine) ? 'warn':'primary'">
            <span md-prefix><md-icon class="md-24">email</md-icon></span>
          </md-input>
          <md-input 
              type="password" 
              placeholder="Senha" 
              autocomplete="off" 
              required 
              #password 
              formControlName="password" 
              minLength="6"
              maxLength="10"
              [dividerColor]="(!form.find('password').valid && !form.find('password').pristine) ? 'warn':'primary'">
            <span md-prefix><md-icon class="md-24">lock</md-icon></span>
          </md-input>
        </md-card-content>
        <md-card-actions align="end">
          <button md-raised-button color="primary" type="submit" [disabled]="!form.valid">Login</button>
        </md-card-actions>
      </md-card>
    </form>
  </main>

  <footer>
    <p style="text-align: center;" href="mailto:tour.partiu@gmail.com"><button md-button>Copyright © 2016 Partiu! Todos os direitos reservados.</button></p>
  </footer>

</app>