<!-- Side menu -->
<ion-menu [content]="content" *ngIf="showPage">

  <ion-toolbar>
    <ion-title>Menu</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-avatar item-left no-lines>
        <img [src]="_auth.userInfo.photoURL">
      </ion-avatar>
      <h2>{{ _auth.userInfo.displayName }}</h2>
      <p>{{ _auth.userInfo.email }}</p>
    </ion-item>
  </ion-toolbar>

  <ion-content class="outer-content">

    <ion-list>
      <ion-item-group *ngFor="let menu of menuPages">
        <ion-item-divider sticky>
          {{menu.title}}
        </ion-item-divider>
        <div *ngFor="let page of menu.pages">
          <button ion-item menuClose (click)="openPage(page)" *ngIf="_auth.authenticated && page.status !== 'LOGGEDOUT'">
            <ion-icon item-left [name]="page.icon"></ion-icon>
            {{page.title}}
          </button>
          <button ion-item menuClose (click)="openPage(page)" *ngIf="!_auth.authenticated && page.status !== 'LOGGEDIN'">
            <ion-icon item-left [name]="page.icon"></ion-icon>
            {{page.title}}
          </button>
        </div>
      </ion-item-group>
    </ion-list>

  </ion-content>

</ion-menu>

<!-- Main navigation -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>