.md-input-card {
  width: 30%;
  margin: 100px auto;
  padding: 0;
}

.md-input-card md-card-content {
  padding: 16px;
}

.md-input-card md-card-actions {
  padding: 0px 32px 16px 16px;
}

md-input {
  margin: 8px 0;
  width: 100%;
}