<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:5px;">#</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:80px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of items | async; let i = index" >
                    <td style="width:5px;">
                        {{ i+1 }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span style="font-weight: bold;">{{ item.descricao }}</span>
                        <br *ngIf="showIcone">
                        <span *ngIf="showIcone">Ícone: {{ item.icone }}</span>
                        <br *ngIf="showDestaque">
                        <span *ngIf="showDestaque">Destaque: {{ item.destaque }}</span>
                    </td>
                    <td style="width:80px;padding-right:5px;">
                      <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" (click)="onEdit(item)">
                        <i class="material-icons">create</i>
                      </button>
                      <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" (click)="onRemove(item)">
                        <i class="material-icons">delete</i>
                      </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>
            <md-card>
                <md-card-title>{{editing ? 'Editar' : 'Cadastrar'}}</md-card-title>
                <md-card-content>
                    <md-input
                        type="text"
                        placeholder="Descrição"
                        required
                        maxLength="50"
                        [(ngModel)]="item.descricao"
                        name="descricao"
                        ngModel
                        #descricao
                        [dividerColor]="descricao.valid || descricao.pristine ? 'warn':'primary'">
                        <md-hint align="end">{{descricao.characterCount}} / 50</md-hint>
                    </md-input>
                    <md-input
                        *ngIf="showIcone"
                        type="text"
                        placeholder="Nome do ícone"
                        maxLength="20"
                        [(ngModel)]="item.icone"
                        name="icone"
                        ngModel
                        #icone
                        [dividerColor]="icone.valid || icone.pristine ? 'warn':'primary'">
                        <md-hint align="end">{{icone.characterCount}} / 20</md-hint>
                    </md-input>
                    <md-input
                        *ngIf="showDestaque"
                        type="text"
                        placeholder="Url da imagem de destaque"
                        maxLength="100"
                        [(ngModel)]="item.destaque"
                        name="destaque"
                        ngModel
                        #destaque
                        [dividerColor]="destaque.valid || destaque.pristine ? 'warn':'primary'">
                        <md-hint align="end">{{destaque.characterCount}} / 100</md-hint>
                    </md-input>
                </md-card-content>
                <md-card-actions align="end">
                    <button *ngIf="editing" md-raised-button (click)="onClear($event)">Cancelar</button>
                    <button type="submit" md-raised-button color="primary" style="color:white;" [disabled]="!form.form.valid">Salvar</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>
