<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric">Tipo de Dado</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let caracteristica of _caracteristicaService.list | async; let i = index">
                    <td>
                        {{ i+1 }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span style="font-weight: bold;">{{ caracteristica.descricao }}</span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ getDescricao(caracteristica.tipo_dado) }}
                    </td>
                    <td>
                        <button md-icon-button (click)="onEdit(caracteristica)"><md-icon class="md-24">mode_edit</md-icon></button>
                    </td>
                    <td>
                        <button md-icon-button (click)="onRemove(caracteristica)"><md-icon class="md-24">delete</md-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
        <form #form="ngForm" (ngSubmit)="onSubmit(form.value)" novalidate>     
            <md-card>
                <md-card-title>{{ editing ? 'Editar' : 'Cadastrar' }}</md-card-title>   
                <md-card-content>
                    <md-input 
                        type="text" 
                        placeholder="Descrição"
                        maxLength="100"  
                        required 
                        [(ngModel)]="caracteristica.descricao" 
                        name="descricao" 
                        #descricao 
                        ngModel
                        [dividerColor]="descricao.valid || descricao.pristine ? 'warn':'primary'">
                        <md-hint align="end">{{descricao.characterCount}} / 100</md-hint>
                    </md-input>
                    <vaadin-combo-box 
                        label="Tipo de dado" 
                        [items]="_tipoDadoService.list | async" 
                        item-label-path="descricao"
                        item-value-path="$key"
                        (selected-item-changed)="caracteristica.tipo_dado=$event.detail.value.$key"
                        required
                        [(ngModel)]="caracteristica.tipo_dado" 
                        name="tipo_dado" 
                        #tipo_dado 
                        ngModel
                        ngDefaultControl>
                    </vaadin-combo-box>
                    <hr>
                </md-card-content>
                <md-card-actions align="end">
                    <button *ngIf="editing" md-raised-button (click)="onClear($event)">Cancelar</button>
                    <button md-raised-button color="primary" type="submit" [disabled]="!form.form.valid">Salvar</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>