<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        <table class="mdl-data-table mdl-js-data-table" style="width:100%;">
            <thead>
                <tr>
                    <th style="width:10%">#</th>
                    <th class="mdl-data-table__cell--non-numeric">Descrição</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Editar</th>
                    <th class="mdl-data-table__cell--non-numeric" style="width:10%">Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tipo of tipos; let i = index" >
                    <td>
                        {{ i+1 }}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ tipo.descricao }}
                    </td>
                    <td>
                        <button md-icon-button (click)="edit(tipo)"><md-icon class="md-24">mode_edit</md-icon></button>
                    </td>
                    <td>
                        <button md-icon-button (click)="delete(tipo)"><md-icon class="md-24">delete</md-icon></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-color--blue-grey-100">
        <form #frm="ngForm" (ngSubmit)="submit(frm.value);descricao.value = '';" >     
            <md-card>
                <md-card-title>{{editing ? 'Editar' : 'Cadastrar'}}</md-card-title>   
                <md-card-content>
                    <md-input 
                        type="text"
                        [placeholder]="placeholder" 
                        [maxLength]="maxLength" 
                        required
                        [value]="tipo.descricao"
                        name="descricao"
                        #descricao 
                        ngModel>
                        <md-hint align="end">{{descricao.characterCount}} / {{maxLength}}</md-hint>
                    </md-input>
                </md-card-content>
                <md-card-actions align="end">
                        <button md-raised-button color="accent" [disabled]="!frm.form.valid" type="submit">Salvar</button>
                </md-card-actions>
            </md-card>
        </form>
    </div>
</div>